body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0fff0; /* hellgrüner Hintergrund */
}

header {
    background-color: #0000ff; /* Blau für den Header */
    color: white;
    padding: 1rem;
    text-align: center;
}

main {
    padding: 2rem;
    color: #00008b; /* Dunkelblauer Text für den Hauptinhalt */
}

footer {
    background-color: #0000ff; /* Blau für den Footer */
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}
